<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace속성: 반드시 정의하자 -->
<mapper namespace="com.hk.ansboard.dao">
 	
 	<select id="boardList" parameterType="Map" resultType="AnsDto" >
 		SELECT seq, id, title, content, regdate, refer, step, depth,
	    readcount,delflag
		FROM (
			SELECT ROW_NUMBER() OVER(ORDER BY refer DESC,step ASC) rn,
				    seq, id, title, content, regdate, refer, step, 
				    depth,readcount,delflag
			FROM answerboard
		) a
		WHERE ceil(rn/10) = #{pnum} 
 	</select>  
 	
 	<!-- page 개수 구하기 -->
 	<select id="getPcount" resultType="int">
 		select ceil(count(*)/10)
 		from answerboard
 	</select>
 	
 	<insert id="boardInsert" parameterType="AnsDto">
 		INSERT INTO answerboard
		VALUES(NULL,#{id},#{title},#{content},SYSDATE(),
		        (SELECT nvl(MAX(refer),0)+1 FROM answerboard)
			    ,0,0,0,'N')
 	</insert>
 	
 	<select id="boardDetail" parameterType="Integer" resultType="AnsDto">
 		select seq, id, title, content, regdate
 		from answerboard
 		where seq = #{seq}
 	</select>
 	
 	<update id="boardUpdate" parameterType="AnsDto">
 		update answerboard
 		set title=#{title}, content=#{content}
 		where seq = #{seq}
 	</update>
 	
 	<!-- 동적쿼리 사용시 파리미터는 map에 담아서 전달하자 -->
 	<update id="mulDel" parameterType="Map">
 		update answerboard set delflag='Y'
 		where seq in 
 		<foreach collection="seqs" item="seq" 
 		         open="(" close=")" separator=",">
 		      #{seq}
 		</foreach>
 	</update>
 	
 	<!-- 조회수 올리기 -->
 	<update id="readCount" parameterType="Integer">
 		update answerboard set readcount = readcount+1
 		where seq = #{seq}
 	</update>
 	
 	<!-- 답글달기 -->
 	<update id="replyUpdate" parameterType="AnsDto">
 		<![CDATA[
	 		UPDATE answerboard SET step = step+1
			WHERE refer=(SELECT refer FROM answerboard WHERE seq=#{seq})
			AND step > (SELECT step FROM answerboard WHERE seq=#{seq}) 		
 		]]>
 	</update>
 	
 	<insert id="replyInsert" parameterType="AnsDto">
 		INSERT INTO answerboard
		VALUES(NULL,#{id},#{title},#{content},SYSDATE(),
		 (SELECT refer FROM answerboard alias_for_subquery WHERE seq=#{seq}),
		 (SELECT step FROM answerboard alias_for_subquery WHERE seq=#{seq})+1,
		 (SELECT depth FROM answerboard alias_for_subquery WHERE seq=#{seq})+1,
		 0,'N'
		)
 	</insert>
</mapper>














