@charset "UTF-8";

/* 타입선택자 */
p {
    width: 800px;
    background-color: bisque;
}

/* id선택자 */
#sub_title1 {
    font-size: 20px;
}

/* class선택자 */
.c {
    color: blue;
}

/* 전체선택자 */
* {
    font-family: '굴림';
    margin: 10px;
    padding: 10px;
}